@model IEnumerable<OdeToFood.Data.Models.Restaurant>
@{
    ViewBag.Title = "Home Page";
    ViewBag.Message = "Mensaje";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
	<div>
		Hay @Model.Count() restaurantes en la BD.
	</div>		
</div>

@section footer{
    Custom footer
    }